        <div class="footer">
            <div class="copyright">
                <p>Faruk Okumuş tarafından geliştirildi <a href="https://themeforest.net/user/quixlab">F%O</a> 2025</p>
            </div>
        </div>
